@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Project Theme Colors */
  --color-primary: #0f172a;
  --color-primary-hover: #000000;
  --color-accent: #2dd4bf;

  --color-medical-blue: #e6f2f2;
  --color-medical-text: #1a3c40;
  --color-medical-accent: #2c7a7b;

  /* Pastel Gradient Colors */
  --color-pastel-blue: #93C5FD;
  --color-pastel-purple: #C4B5FD;
  --color-pastel-pink: #F9A8D4;
  --color-pastel-highlight: #E0E7FF;
}

@layer utilities {
  .bg-pastel-gradient {
    background: linear-gradient(135deg,
        var(--color-pastel-blue),
        var(--color-pastel-purple),
        var(--color-pastel-pink),
        var(--color-pastel-highlight));
    background-size: 400% 400%;
    animation: gradient-move 25s ease infinite;
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  body {
    @apply bg-medical-blue text-medical-text font-sans antialiased;
  }
}